html{
	background-color:#3055a6;
}

body {
	background-image: linear-gradient(to bottom right, #081f6e, lightblue)!important;
}
img{
	position: relative; 
    padding: 0;
    bottom: 0;
    vertical-align: bottom;
} 
.c{
	width:120px ;
	margin:-138px -0 0 13px ;

}

.pile{
	margin:-53px -0 0 0px; 
	width: 150px;
    height: 200px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    postion: relative;
    background-color: transparent;
}	
#left{
	height: 742px;
    background-color:#BCC6CC;
    float: left;
    width: 125x;
    padding: 20px;
    border-radius: 0px 25px  0px 25px;
    box-shadow:  10px black;
}
#center{
	height: 742px;
    background-color:#E5E4E2;	
    float: none;
    overflow: hidden;
    padding-top: 15px; 
    padding-left: 26px;
    padding-right: 24px;
    border-radius: 25px 25px  0px 0px;
  
}
#right{
	height: 742px;
    background-color:#98AFC7;
    float: right;
    padding: 25px;
    width: 165px;
    border-radius: 25px 0px  25px 0px;
    
}
.container {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    width:100%;
}
.offsetPile {
    width: 150px;
    height: 200px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    border: solid black 4px;
    border-radius: 5px;
}
.deal{
	display:inline-block;
}
.result{
	display: inline-block;
	padding: 0 165px;
}	
#center > .container > .menu-item{
	height:20px;
	border: 3px black;
	display: inline-block;
}
#score{
	color:black;
}
#score_title{
	color:#3177bc;
}
#piles_total{
	color:#309bd6;
}
#lose{
	border: 5px black solid;
}
.btn{
	margin: 31px 0 0 96px ;
}
#win{
	margin: 0 0 0 50px;
}
#win_title{ 
	margin: 0 0 0 58px;
}
#outer{
	width: 980px;
	height: 1024px;
	margin: auto;
}
